body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 2vw;
  color: black;
}

.controls {
  width: 100%;
}

.field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.task-column {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 0.2vw solid greenyellow;
  padding: 1%;
  margin: 0 1vw;
}

.task-column-title {
  width: 100%;
  align-self: flex-start;
  padding: 1%;
  font-size: 2vw;
}

.task-column-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2%;
  min-height: 6vw;
  border: 0.2vw solid blueviolet;
}

.task {
  background-color: #eee;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border: 0.2vw solid green;
  margin-bottom: 1vw;
}

.task-delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 1.5vw;
  height: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trello {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.task-delete-btn > span {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.task-content {
  width: 100%;
  padding: 3%;
}

.task-add-block {
  margin: 1vw 0;
  width: 100%;
}

.task-shadow {
  cursor: grabbing;
  background-color: #eee;
  position: absolute;
  z-index: 100;
  opacity: 0.9;
  filter: grayscale(0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border: 0.2vw solid green;
  margin-bottom: 1vw;
  pointer-events: none;
}

.empty-element {
  background-color: #555;
  margin-bottom: 1vw;
}

.dnd-block {
  width: 100%;
  height: 20vh;
  border: 0.2vw solid green;
  font-size: 2vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dnd-title {
  text-align: center;
  width: 50%;
}

.dnd-file-input {
  position: absolute;
  z-index: -100;
  opacity: 0;
}

.gallery {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.gallery-card-list {
  margin: 2vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
  border: 0.2vw solid green;
  margin-right: 3vw;
  margin-bottom: 5vw;
}

.card-close-button {
  position: absolute;
  right: -1.5vw;
  top: -1.5vw;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: 0.5vw solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-img {
  width: 60%;
  height: 60%;
}

.gallery-img {
  width: 18vw;
}

.hide {
  display: none;
}
